<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link >
    <meta charset="utf-8">
    <title>home</title>
  </head>
  <body>

      <center>
      <a href="index.html">link</a><br>

      <br> <br>
      <h1> Bienvenido<br>
      <a href="index.html"><img src= "imagen/hola.jpeg" class="clase" ></a><br>
      <a href="index.html"><img src= "imagen/hola.jpeg" class="otra" ></a><br>
      <a href="index.html"><i class="material-icons">visibility</i></a>
      <a href="index.html"><i class="material-icons">add</i></a>
      <a href="index.html"><i class="material-icons">search</i></a>
      <br>

    </center>
  </body>
</html>
