{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static 'css/estilo.css'%}">

    <title>Instagram</title>

  </head>
  <body>
    <form action="{% url 'index' %}"method="post">
      {% csrf_token %}
      <center>
        <h1>Instagram
        <div class="bloque_principal">
          <br>
         <input  type="text" name="correo" placeholder="correo" >
          <br>
          <input  type="text" name="nombre_completo" placeholder="Nombre" >
          <br>
          <input  type="text" name="usuario" placeholder="Nombre de usuario" >
          <br>
          <input  type="password" name="password" placeholder="contraseña" >
          <br>
        </div>
          <div id ="bloque_p_2">
          <input type="submit" name"" value="Registrarse">
        </div>
      </center>
    </form>
</body>
</html>
