<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/estilo.css">
    <title>login</title>
  </head>
  <body>
    <form action="home.html" method="post">
      <center>
        <div id = "bloque_2">
          <input type="text" name="" placeholder="Usuario">
          <br>
          <input type="password" name "" placeholder="Contraseña" >
          <br>
          <input type="submit" name="" value="Aceptar">
        </div>
      </center>
    </form>
</body>
</html>
