<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>A Pen by  carlos esteban guzman baquero </title>
  <link href="https://file.myfontastic.com/UaYLFCMEH4jxj2kHaZNsR/icons.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <section class='photo_container'>
  <section class='photo_header'>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Alan-Walker-_Faded.jpg/40px-Alan-Walker-_Faded.jpg" class='photo_user'>
      <h3 class = 'photo_username'> username</h3>  
  </section>
        <section class = 'photo_image'>
          <img src = "https://pbs.twimg.com/profile_images/778058988243996676/kZaYeS3W.jpg">
          </section>
          <section class = "photo_icons">       
              <i class ="icon-heart-o"></i>
              <i class ="icon-comment"></i>
              <i class ="icon-search"></i>
           </section> 
          <h4 class = 'photo_likes'><spam>43.244</spam> Me Gusta</h4>
          <section class = 'photo_-coment'></section>
          <section class = 'photo-coment'>lorem insup sit ame  </section>
          <section class = 'photo-coment'>lorem insup sit ame  </section>
          <section class = 'photo-coment'>lorem insup sit ame  </section>
          <section class = 'photo-coment'>lorem insup sit ame  </section>
          <section placeholder = 'agarar un comentario'>  
</section>
  
  
</body>
</html>
