{% load static  %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>A Pen by  carlos esteban guzman baquero </title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
 <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="{% static 'css/stilo.css' %}">


</head>

<body>

<section class="insta">
  <section class="insta-header"><img class="insta-photo-profile" src="https://i.pinimg.com/736x/fa/c2/27/fac227b4eb77528d284df935e15ec293--best-music-my-music.jpg"/>
    <section class="insta-header-data">
      <section class="insta-info">
        <h2 class="insta-username">{{ usuario_actual.usuario_django.username }}</h2>
        <button class="insta-follow-botton">Seguir</button>
        <button class="insta-suggestions fa fa-caret-down"></button>
        <button class="insta-optiond fa fa-ellipsis-h"></button>
      </section>
      <section class="insta-follows">
        <p><span class="insta-indicator">12</span> publiciones </p>
        <p><span class="insta-indicator">23</span> seguidores </p>
        <p><span class="insta-indicator">30</span> seguidos   </p>
      </section>
      <section class="insta-description"> Hola como estas buena foto jeje </section>
    </section>
  </section>
  <section class="insta-gallery">
    <section class="insta-picture-container"><img class="insta-picture" src="https://pbs.twimg.com/profile_images/778058988243996676/kZaYeS3W.jpg"/>
      <section class="insta-picture-data"><i class="fa fa-heart"> </i><span>99k</span><i class="fa fa-comment"></i><span>180k</span><i class="fa fa-search-o"> </i></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="https://pbs.twimg.com/profile_images/778058988243996676/kZaYeS3W.jpg"/>
      <section class="insta-picture-data"><i class="fa fa-heart"> </i><span>99k</span><i class="fa fa-comment"></i><span>180k</span><i class="fa fa-search-o"> </i></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="https://pbs.twimg.com/profile_images/778058988243996676/kZaYeS3W.jpg"/>
      <section class="insta-picture-data"><i class="fa fa-heart"> </i><span>99k</span><i class="fa fa-comment"></i><span>180k</span><i class="fa fa-search-o"> </i></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="https://pbs.twimg.com/profile_images/778058988243996676/kZaYeS3W.jpg"/>
      <section class="insta-picture-data"><i class="fa fa-heart"> </i><span>99k</span><i class="fa fa-comment"></i><span>180k</span><i class="fa fa-search-o"> </i></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="https://pbs.twimg.com/profile_images/778058988243996676/kZaYeS3W.jpg"/>
      <section class="insta-picture-data"><i class="fa fa-heart"> </i><span>99k</span><i class="fa fa-comment"></i><span>180k</span><i class="fa fa-search-o"> </i></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="https://pbs.twimg.com/profile_images/778058988243996676/kZaYeS3W.jpg"/>
      <section class="insta-picture-data"><i class="fa fa-heart"> </i><span>99k</span><i class="fa fa-comment"></i><span>180k</span><i class="fa fa-search-o"> </i></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="https://pbs.twimg.com/profile_images/778058988243996676/kZaYeS3W.jpg"/>
      <section class="insta-picture-data"><i class="fa fa-heart"> </i><span>99k</span><i class="fa fa-comment"></i><span>180k</span><i class="fa fa-search-o"> </i></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="https://pbs.twimg.com/profile_images/778058988243996676/kZaYeS3W.jpg"/>
      <section class="insta-picture-data"><i class="fa fa-heart"> </i><span>99k</span><i class="fa fa-comment"></i><span>180k</span><i class="fa fa-search-o"> </i></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="https://pbs.twimg.com/profile_images/778058988243996676/kZaYeS3W.jpg"/>
      <section class="insta-picture-data"><i class="fa fa-heart"> </i><span>99k</span><i class="fa fa-comment"></i><span>180k</span><i class="fa fa-search-o"> </i></section>
    </section>
  </section>
</section>


</body>
</html>
